h1 {
  text-align: center;
  margin-top: 1%;
}
.container {
  margin-bottom: 10px;
}
.score {
  width: 100%;
  height: 250px;
  background-color: aliceblue;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.chart {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  height: 400px;
  width: 100%;
  background-color: aliceblue;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 10px;
}
.chart-content {
  width: 40%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 10px;
}
.top-skill{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 10px;
  margin-bottom: 2%;
  color: #3c9ee5;
  
}
.progress-skill{
  background-color:rgb(122, 216, 253) ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 margin: 10px;
 padding: 100px;
}
.skill-text{
  text-align: center;
  font-weight: bold;
}
.skill-image{
  width: 100%;
  height: 80%;
}
.progress-card p{
  font: bold;
  color: #fffb00;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}
.progress-card h2{
  font-weight: bold;
  color: #fffb00;
  text-transform: uppercase;

}
.top-head{
  font-size: 30px;
  font-weight: bold;
}
.skill-card {
  width: 19%;
  background: #fff;
  border: 1px solid #ccc;
  height: 300px;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bar {
  text-align: center;
}
.score-content-left {
  justify-content: space-around;
  width: 30%;
}
.score-content-right {
  justify-content: space-around;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
}
.score-content-left h3 {
  text-align: center;
  margin: 2%;
}
.top-score {
  justify-content: space-around;
  width: 33%;
  margin-top: 2%;
}
/* Circular badge */
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 180px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.red .circle {
  stroke: red;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
/* round circle */
.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 70%;
  border-radius: 50%;
  margin-top: 2%;

  /* (B) BACKGROUND COLOR */
  background: #bcd6ff;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  height: 200px;
  position: relative;
}

/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;

  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}
.score-heading {
  font-size: 55px;
}
@media (max-width: 960px) {
  .res-circle {
    height: 80px;
  }
  .score {
    height: 150px;
  }
  .circle-txt {
    font-weight: normal;
    font-size: smaller;
  }
  .top-score {
    margin-top: 10%;
  }
  .score-heading {
    font-size: 15px;
  }
  .skill-card {
    width: 80%;
    height: 300px;
  }
  .top-skil {
    height: 1500px;
  }
}
@media screen and (max-width: 1000px) {
  .chart-content {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .chart-content {
    width: 80%;
  }
  .skill-card {
    width: 80%;
    height: 300px;
  }
}
